@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: 17 24 28; /* #11181C */
    --color-background: 255 255 255; /* #fff */
    --color-tint: 10 126 164; /* #0a7ea4 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: 236 237 238; /* #ECEDEE */
      --color-background: 21 23 24; /* #151718 */
      --color-tint: 255 255 255; /* #fff */
    }
  }
}
